<!doctype html>
<html>
    <head>
        <title>memberList</title>
        <meta charset="utf-8">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <!--modal 드래그-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--modal 드래그-->

        <style type="text/css">
            label {
                display: block;
                margin-top: 20px;
                letter-spacing: 2px;
            }
            form {
                margin: 0 auto;
                width: 459px;
            }
            input,
            textarea {
                width: 439px;
                height: 27px;
                background-color: #efefef;
                border-radius: 6px;
                border: 1px solid #dedede;
                padding: 10px;
                margin-top: 3px;
                font-size: 0.9em;
                color: #3a3a3a;
            }
            input:focus,
            textarea:focus {
                border: 1px solid #97d6eb;
            }

            textarea {
                height: 60px;
                background-color: #efefef;
            }
            #submit {
                width: 127px;
                height: 48px;
                text-align: center;
                border: none;
                margin-top: 20px;
                cursor: pointer;
            }
            #submit:hover {
                color: #fff;
                background-color: #8977ad;
                opacity: 0.9;
            }
            #searchFriends {
                width: 127px;
                height: 48px;
                text-align: center;
                border: none;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 5px;
            }
            #searchFriends:hover {
                color: #fff;
                background-color: #8977ad;
                opacity: 0.9;
            }

            .modal {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            .modal1 {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            .modal2 {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            [class *="modalFriends"] {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            .modal-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 1rem 1.5rem;
                width: 500px;
                height: 350px;
                border-radius: 0.5rem;
            }

            .modal-content1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("/img/background.jpg");
                width: 380px;
                height: 720px;
                /*linear-gradient(rgba(24, 24, 34, 0.4), rgba(24, 24, 34, 0.4)),*/

            }
            .modal-content2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                width: 380px;
                height: 720px;
                border: 0.01rem solid #cccccc;
                box-shadow: 2px 3px 5px 0 #cccccc;

            }
            .close-button {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                background-color: lightgray;
            }
            [class *="close-friends-button"] {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                color: white;
            }

            .close-button1 {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                color: white;

            }
            .close-button:hover {
                background-color: darkgray;
            }

            .show-modal {
                opacity: 1;
                visibility: visible;
                transform: scale(1.0);
                transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
            }
            #img_button {
                border: none;
                background: white;
                cursor: pointer;
            }
            hr {
                border: 0.1em solid #eeeeee;
                border-bottom: 0;
            }
            .friendsList {
                display: flex;
                flex-direction: row;

            }
            .profileImg {
                height: 55px;
                width: 55px;
                float: left;
                border-radius: 15px;
                background-color: transparent;

            }

            .profileFont {
                height: 55px;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
                margin-left: 15px;
            }

            .profileDetail_img {
                width: 100px;
                height: 100px;
                border-radius: 20px;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .profileDetail_name {
                margin-top: 10px;
                font-size: 20px;
                color: white;
                font-weight: normal;
            }

            .searchResult {
                width: 100%;
                text-align: center;
                
                padding-top: 20px;
            }

            .title {
                font-weight: normal;
            }

            .modProfile {
                position: absolute;
                width: 0;
                height: 0;
                padding: 0;
                overflow: hidden;
                border: 0;
            }

            .modProfileLabel {
                position: absolute;
                display: inline-block;
                padding: 10px;
                color: #999;
                vertical-align: middle;
                background-color: #fdfdfd;
                cursor: pointer;
                border: 1px solid #ebebeb;
                border-radius: 100%;
                margin-top: 0;
                top: 100px;
                right: 105px;
            }

            .modProfile_input {
                width: 320px;
                border: none;
                border-bottom: 0.5px solid #e2e2e2;
                background-color: white;
                margin-left: 20px;
                border-radius: 0;
                color: gray;
                position: relative;
            }

            #counting_nickName {
                font-size: 15px;
                color: #999;
                position: absolute;
                top: 370px;
                right: 20px;
            }

            #counting_profileContent {
                font-size: 15px;
                color: #999;
                position: absolute;
                top: 420px;
                right: 20px;
            }

            form {
                width: 100%;
                height: 100%;
      
            }
        </style>
        <script>

            function searchFriends() {
                var memId = document
                    .getElementById("memIdInput")
                    .value;
                $
                    .ajax({
                        url: "/searchFriends",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            "memId": memId
                        }
                    })
                    .done(function (json) {
                        var searchResult = document.getElementById("searchResult");
                        while (searchResult.hasChildNodes()) {
                            searchResult.removeChild(searchResult.firstChild);
                        } //검색 회원 삭제

                        if(json[0].profileImg != null){
                            $(".searchResult").append(
                            '<tr><td><img style="width:100px; height:100px;" alt="seachProfileImg" src="' +
                            json[0].profileImg + '"/></td></tr>'
                        );
                        }else{
                            $(".searchResult").append(
                            '<tr><td><img style="width:100px; height:100px;" alt="seachProfileImg" src="/img/profileBasicImg.png"/></td></tr>'
                        );
                        }

                        $(".searchResult").append('<tr><td><input style="width:100px; margin-left:125px; text-align:center; border:none; background-color:transparent;" readonly type="text" name="memName" value="' + json[0].memName + '"/><input  type="submit" id="submit" value="친구추가" style="float:right; position:relative; bottom:20px;"></td></tr>');

                    })
                    .fail(function (xhr, status, errorThrown) {
                        alert("다시 검색해주세요")
                    })
            };

            $(function () {
                $('.modal1').draggable({handle: ".modal-content1"});
            }); //modal 드래그

            //프로필 상세창 이미지 확대
            function fnImgPop(url) {
                var img = new Image();
                img.src = url;
                var img_width = img.width;
                var win_width = img.width + 25;
                var img_height = img.height;
                var win = img.height + 30;
                var OpenWindow = window.open(
                    '',
                    '_blank',
                    'width=' + img_width + ', height=' + img_height + ', menubars=no, scrollbars=au' +
                            'to'
                );
                OpenWindow
                    .document
                    .write(
                        "<style>body{margin:0px;}</style><img src='" + url + "' width='" + win_width +
                        "'>"
                    );
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#preview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            //nickName 글자 수 체크
            function counter_nickName() {
                document
                    .getElementById("counting_nickName")
                    .innerHTML = document
                    .getElementById("nickName")
                    .value
                    .length + "/20";

            }

            //profileContent 글자 수 체크
            function counter_profileContent() {
                document
                    .getElementById("counting_profileContent")
                    .innerHTML = document
                    .getElementById("profileContent")
                    .value
                    .length + "/60";

            }

            //input 박스 글자 수 자르기
            function maxLength(e) {
                if (e.value.length > e.maxLength) {
                    e.value = e
                        .value
                        .slice(0, e.maxLength);

                }

            }
        </script>

    </head>
    <body style="margin:0px;">
        <div class="friendsList">
            <div style="width:100px; background-color:#ebe7f1; margin-left:10px;">
                <a href="/friendsList" style="margin-left:25%;">
                    <img src="/img/user.png" alt="user" height="40" style=" margin-top:38%;"></a>
                <a href="/chattingList" style="margin-left:27%;">
                    <img
                        src="/img/chatting_dark.png"
                        alt="user"
                        height="30"
                        style=" margin-top:50%;"></a>
            </div>
            <div class="wrapper" style="width:100%; margin-left:30px;">
                <div class="display-container">
                    <div >
                        <div style=" height:60px; margin-top:30px; ">
                            <h1 style="font-size:28px; margin-top:0px; float:left;">친구</h1>
                            <button id="img_button" class="trigger" style="float:right;"><img src="/img/addFriends.png" alt="addFriends" height="33"></button>
                        </div>
                        <h4 style="color:gray;">내프로필</h4>

                        <a>
                            <% if(profileImg !=null) { %>
                                <button class="profileImg trigger1" style="border:none; cursor:pointer;"><img class="profileImg" src="<%= profileImg %>"/></button>
                            <% } else { %>
                                <button class="profileImg trigger1" style=" border:none; cursor:pointer;"><img class="profileImg" src="/img/profileBasicImg.png"/></button>

                            <% } %>

                        </a>
                        <h4 style="display:flex; flex-direction: column; ">
                            <p class="profileFont"><%=nickName %>
                                <% if(profileContent !=null) { %>
                                    <br>
                                    <span style="font-weight: normal; padding-top:5px;"><%=profileContent %>
                                    <% } %></span></p>
                        </h4>
                        <hr>
                        <h4 style="color:gray;">친구 110명</h4>

                        <div>

                            <% if(data != "") {%>
                                <% for(let i=0; i<data.length; i++){ %>
                                    <div>
                                        <!-- 팝업 될 레이어 // 프로필 상세보기 친구-->

                                        <div class="modalFriends<%=i%>">
                                            <div class="modal-content1" id="modal">
                                                <span class="close-friends-button<%=i%>" onclick="closeButtonFriends('<%=i%>')">&times;</span>
                                                <h2 class="title"></h2>

                                                <label></label>

                                                <div style="margin-top:107%; height:100px; text-align:center;">
                                                    <p>
                                                        <% i %>
                                                        </p>
                                                        <% if(data[i].profileImg !=null) { %>
                                                            <img
                                                                class="profileDetail_img"
                                                                src="<%= data[i].profileImg %>"
                                                                onclick="fnImgPop(this.src)"/>
                                                        <% } else { %>
                                                            <img
                                                                class="profileDetail_img"
                                                                src="/img/profileBasicImg.png"
                                                                onclick="fnImgPop(this.src)"/>

                                                        <% } %>

                  
                                                            <p class="profileDetail_name"><%=data[i].friendsNickName %></p>
                                                        

                                                        <hr
                                                            style="width:100%; margin-top:50px;border:0.01em solid #eeeeee86; border-bottom: 0;">
                                                    </div>
                                                    <div style="margin-top:33%; margin-left:23%;">
                                                        <button
                                                            class="profileImg "
                                                            style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/pen.png"/><br>
                                                            <p style="color:white; ">프로필관리</p>
                                                        </button>
                                                        <button
                                                            class="profileImg"
                                                            style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/chatting_white.png"/><br>
                                                            <p style="color:white; ">나와의채팅</p>
                                                        </button>

                                                    </div>

                                                </div>

                                            </div>

                                            <% if(data[i].profileImg !=null) { %>
                                                <button
                                                    onclick="triggerList('<%=i %>')"
                                                    class="profileImg triggerList<%=i%>"
                                                    style="background-color:white; border:none; cursor:pointer;"><img class="profileImg" src="<%=data[i].profileImg%>"/></button>
                                            <% } else {%>
                                                <button
                                                    onclick="triggerList('<%=i %>')"
                                                    class="profileImg triggerList<%=i%>"
                                                    style="background-color:white; border:none; cursor:pointer;"><img class="profileImg" src="/img/profileBasicImg.png"/></button>
                                            <% } %>

                                            <form name="friendsChat" action="/friendsChat" method="post">
                                                <input type="hidden" name="memNum" value="<%=data[i].memNum%>"/>
                                                <input type="hidden" name="friendsNickName" value="<%=data[i].friendsNickName%>"/>
                                      
                                                <h4 style="display:flex; flex-direction: column; ">
                                                    <button           
                                                        id="chat"
                                                        style="width:100%; float:left; font-size:15px; text-align:left; height:100%; background-color: transparent; border:none;">
                                                        <p class="profileFont">
                                                            
                                                                <span style="font-weight: bold;"><%=data[i].friendsNickName %></span>   
                                                           
                                                            <% if(data[i].profileContent !=null) { %>
                                                                <br>
                                                                <span style=" padding-top:5px;"><%=data[i].profileContent %>
                                                                <% } %></span></p>
                                                    </button>
                                                </h4>
                                            </form>
                                        </div>
                                    <% } %>
                                </div>

                            <% } else {%>
                                <h1>친구없어요</h1>
                            <% }%>

                        </div>

                        <!-- 팝업 될 레이어 / 친구 추가-->
                        <div class="modal">
                            <div class="modal-content" id="modal">
                                <span class="close-button">&times;</span>
                                <h2 class="title">친구추가</h2>
                                <form action="/addFriends" method="POST">
                                 
                                    <input
                                        id="memIdInput"
                                        type="text"
                                        name="memId"
                                        placeholder="아이디를 입력해주세요"
                                        required="required"
                                        style="width:320px; float:left;">
                                        <p
                                    style="font-size:13px; padding-top:63px; padding-left:3px;
                                    white-space:nowrap; color:gray;">GENIE ID를 등록하고 검색을 허용한 친구만 찾을 수 있습니다.</p>
                                        <table class="searchResult" id="searchResult"></table>
                                    
                                </form>

                                <button
                                    onclick="searchFriends()"
                                    id="searchFriends"
                                    style="height:52px; top:87px; margin-top:2px; right:30px; position:absolute; margin-left:25px; float:left;">검색</button>
                                
                               

                            </div>
                        </div>
                        <!-- 팝업 될 레이어 // 내프로필상세보기창-->
                        <div class="modal1">
                            <div class="modal-content1" id="modal">
                                <span class="close-button1">&times;</span>
                                <h2 class="title"></h2>
                                <!--<form action="/" method="POST">-->

                                <label></label>

                                <div style="margin-top:107%; height:100px; text-align:center;">

                                    <% if(profileImg !=null) { %>
                                        <img
                                            class="profileDetail_img"
                                            src="<%= profileImg %>"
                                            onclick="fnImgPop(this.src)"/>
                                    <% } else { %>
                                        <img
                                            class="profileDetail_img"
                                            src="/img/profileBasicImg.png"
                                            onclick="fnImgPop(this.src)"/>

                                    <% } %>

                                    <p class="profileDetail_name"><%=nickName %></p>
                                    <hr
                                        style="width:100%; margin-top:50px;border:0.01em solid #eeeeee86; border-bottom: 0;">
                                </div>
                                <div style="margin-top:33%; margin-left:23%;">
                                    <button
                                        class="profileImg trigger2"
                                        style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/pen.png"/><br>
                                        <p style="color:white; ">프로필관리</p>
                                    </button>
                                    <button
                                        class="profileImg"
                                        style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/chatting_white.png"/><br>
                                        <p style="color:white; ">나와의채팅</p>
                                    </button>

                                </div>

                            </div>

                        </div>

                        <!-- 팝업 될 레이어 // 내프로필편집창-->
                        <div class="modal2">
                            <div class="modal-content2" id="modal">
                                <h2 class="title" style="margin-left:30px; margin-top:40px;">프로필편집</h2>
                                <!--<form action="/" method="POST">-->

                                <label></label>
                                <form action="/modProfile" method="post" enctype='multipart/form-data'>
                                    <div style="text-align: center; margin-top:100px; position:relative;">
                                        <% if(profileImg !=null) { %>
                                            <img
                                                id="preview"
                                                class="profileDetail_img"
                                                style="width:140px; height:140px;"
                                                src="<%= profileImg %>"
                                                onclick="fnImgPop(this.src)"/>
                                        <% } else { %>
                                            <img
                                                id="preview"
                                                class="profileDetail_img"
                                                src="/img/profileBasicImg.png"
                                                style="width:140px; height:140px;"
                                                onclick="fnImgPop(this.src)"/>

                                        <% } %>
                                        <label for="file" class="modProfileLabel"><img src="/img/camera.png" style="width:25px; height:20px;"/></label>
                                        <input type="hidden" name="originProfileImg" value="<%=profileImg%>"/>
                                        <input
                                            type="file"
                                            id="file"
                                            name="profileImg"
                                            class="modProfile"
                                            onchange="readURL(this);"/>
                                    </div>
                                    <div style="margin-top:40px;">
                                        <% if (nickName !=null) {%>
                                            <input
                                                class="modProfile_input"
                                                id="nickName"
                                                name="nickName"
                                                type="text"
                                                value="<%= nickName %>"
                                                maxlength="20"
                                                onkeyup="counter_nickName()"
                                                oninput="maxLength(this);"/>
                                            <span id="counting_nickName"><%=nickName.length%>/20</span>
                                        <%} else{%>
                                            <input
                                                class="modProfile_input"
                                                id="nickName"
                                                name="nickName"
                                                type="text"
                                                value="<%= memName %>"
                                                maxlength="20"
                                                onkeyup="counter_nickName()"
                                                oninput="maxLength(this);"/>
                                            <span id="counting_nickName"><%=nickName.length%>/20</span>
                                        <%}%>

                                        <% if (profileContent !=null) {%>
                                            <input
                                                class="modProfile_input"
                                                name="profileContent"
                                                id="profileContent"
                                                type="text"
                                                placeholder="상태메세지를 입력해주세요"
                                                value="<%=profileContent%>"
                                                maxlength="60"
                                                oninput="maxLength(this);"
                                                onkeyup="counter_profileContent()"/>
                                            <span id="counting_profileContent"><%=profileContent.length%>/60</span>
                                        <%} else{%>
                                            <input
                                                class="modProfile_input"
                                                id="profileContent"
                                                name="profileContent"
                                                type="text"
                                                placeholder="상태메세지를 입력해주세요"
                                                maxlength="60"
                                                oninput="maxLength(this);"
                                                onkeyup="counter_profileContent()"/>
                                            <span id="counting_profileContent"><%=profileContent.length%>/60</span>
                                        <%}%>

                                        <div>

                                            <input
                                                type="button"
                                                id="submit"
                                                class="close-button2"
                                                value="취소"
                                                style="float:right; position:relative; margin-top:45%; margin-left:5%; margin-right:15%;">
                                            <input
                                                type="submit"
                                                id="submit"
                                                value="확인"
                                                style="float:right; position:relative; margin-top:45%; ">
                                        </div>

                                    </div>
                                </form>
                                <hr
                                    style="width:100%; margin-top:50px;border:0.01em solid #eeeeee86; border-bottom: 0;">

                                <div style="margin-top:33%; margin-left:23%;">
                                    <button
                                        class="profileImg trigger2"
                                        style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/pen.png"/><br>
                                        <p style="color:white; ">프로필관리</p>
                                    </button>
                                    <button
                                        class="profileImg"
                                        style="background-color:transparent; border:none; cursor:pointer; width:100px;"><img style=" width:25px; height:25px;" src="/img/chatting_white.png"/><br>
                                        <p style="color:white; ">나와의채팅</p>
                                    </button>

                                </div>

                            </div>

                        </div>
                        <script type="text/javascript">

                            var modal = document.querySelector(".modal");
                            var modal1 = document.querySelector(".modal1");
                            var modal2 = document.querySelector(".modal2");

                            var trigger = document.querySelector(".trigger");
                            var trigger1 = document.querySelector(".trigger1");
                            var trigger2 = document.querySelector(".trigger2");

                            var closeButton = document.querySelector(".close-button");
                            var closeButton1 = document.querySelector(".close-button1");
                            var closeButton2 = document.querySelector(".close-button2");

                            //console.log(modal);

                            function toggleModal() {
                                var searchResult = document.getElementById("searchResult");
                                while (searchResult.hasChildNodes()) {
                                    searchResult.removeChild(searchResult.firstChild);
                                } //검색 회원 삭제
                                $('#memIdInput').val(''); //input 박스 입력 val 초기화
                                modal
                                    .classList
                                    .toggle("show-modal");
                            }

                            function toggleModal1() {
                                modal1
                                    .classList
                                    .toggle("show-modal");
                            }

                            function toggleModal2() {
                                modal2
                                    .classList
                                    .toggle("show-modal");
                            }

                            function toggleModal3(modalFriends) {
                                modalFriends
                                    .classList
                                    .toggle("show-modal");
                            }

                            //친구 프로필 상세창 script
                            function triggerList(triggerNum) {

                                var modalFriends = document.querySelector(".modalFriends" + triggerNum);
                                var triggerList = document.querySelector(".triggerList" + triggerNum);

                                toggleModal3(modalFriends);

                            }

                            //친구 프로필 닫기 script
                            function closeButtonFriends(triggerNum) {
                                var modalFriends = document.querySelector(".modalFriends" + triggerNum);
                                toggleModal3(modalFriends);

                            }

                            trigger.addEventListener("click", toggleModal);
                            trigger1.addEventListener("click", toggleModal1);
                            trigger2.addEventListener("click", toggleModal2);

                            closeButton.addEventListener("click", toggleModal);
                            closeButton1.addEventListener("click", toggleModal1);
                            closeButton2.addEventListener("click", toggleModal2);

                            //modal 밖 외부 영역 클릭시 modal 창 닫기
                            function windowOnClick(event) {
                                if (event.target === modal) {
                                    toggleModal();
                                }
                                if (event.target === modal1) {
                                    toggleModal1();
                                }

                                if (event.target === modal2) {
                                    toggleModal2();
                                }

                                if (event.target === modal2) {
                                    toggleModal2();
                                }

                            }
                            window.addEventListener("click", windowOnClick);
                        </script>

                    </div>
                </div>
            </div>
        </body>
    </html>