<!doctype html>
<html>
    <head>
        <title>memberList</title>
        <meta charset="utf-8">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <style type="text/css">
            label {
                display: block;
                margin-top: 20px;
                letter-spacing: 2px;
            }
            form {
                margin: 0 auto;
                width: 459px;
            }
            input,
            textarea {
                width: 439px;
                height: 27px;
                background-color: #efefef;
                border-radius: 6px;
                border: 1px solid #dedede;
                padding: 10px;
                margin-top: 3px;
                font-size: 0.9em;
                color: #3a3a3a;
            }
            input:focus,
            textarea:focus {
                border: 1px solid #97d6eb;
            }

            textarea {
                height: 60px;
                background-color: #efefef;
            }
            #submit {
                width: 127px;
                height: 48px;
                text-align: center;
                border: none;
                margin-top: 20px;
                cursor: pointer;
            }
            #submit:hover {
                color: #fff;
                background-color: #8977ad;
                opacity: 0.9;
            }
            #searchFriends {
                width: 127px;
                height: 48px;
                text-align: center;
                border: none;
                margin-top: 20px;
                cursor: pointer;
                border-radius: 5px;
            }
            #searchFriends:hover {
                color: #fff;
                background-color: #8977ad;
                opacity: 0.9;
            }

            .modal {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            .modal1 {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transform: scale(1.1);
                transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
            }

            .modal-content {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                padding: 1rem 1.5rem;
                width: 500px;
                height: 350px;
                border-radius: 0.5rem;
            }

            .modal-content1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/img/background.png);
                width: 350px;
                height: 680px;
                border-radius: 0.5rem;

            }
            .close-button {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                background-color: lightgray;
            }

            .close-button1 {
                float: right;
                width: 1.5rem;
                line-height: 1.5rem;
                text-align: center;
                cursor: pointer;
                border-radius: 0.25rem;
                color: white;

            }
            .close-button:hover {
                background-color: darkgray;
            }

            .show-modal {
                opacity: 1;
                visibility: visible;
                transform: scale(1.0);
                transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
            }
            #img_button {
                border: none;
                background: white;
                cursor: pointer;
            }
            hr {
                border: 0.1em solid #eeeeee;
                border-bottom: 0;
            }
            .friendsList {
                display: flex;
                flex-direction: row;

            }
            .profileImg {
                height: 55px;
                width: 55px;
                float: left;
                border-radius: 15px;
                
            }

            .profileFont {
                height: 55px;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 5px;
                margin-left: 15px;
            }

            .profileDetail_img {
                width: 90px;
                height: 90px;
                border-radius: 20px;

                border: none;
            }

            .profileDetail_name {
                margin-top: 10px;
                font-size: 20px;
                color: white;
                font-weight: normal;
            }
        </style>
        <script>
            function searchFriends() {
                var memId = document
                    .getElementById("memIdInput")
                    .value;
                $
                    .ajax({
                        url: "/searchFriends",
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            "memId": memId
                        }
                    })
                    .done(function (json) {
                        var searchResult = document.getElementById("searchResult");
                        while (searchResult.hasChildNodes()) {
                            searchResult.removeChild(searchResult.firstChild);
                        } //검색 회원 삭제

                        $(".searchResult").append(
                            '<td><img alt="seachProfileImg" src="' + json[0].profileImg + '"/></td>'
                        );
                        $(".searchResult").append('<td>' + json[0].memName + '</td>');

                    })
                    .fail(function (xhr, status, errorThrown) {
                        alert("다시 검색해주세요")
                    })
            };
        </script>

    </head>
    <body style="margin:0px;">
        <div class="friendsList">
            <div style="width:100px; background-color:#ebe7f1; margin-left:10px;">
                <img src="/img/user.png" alt="user" height="40">
            </div>
            <div class="wrapper" style="width:100%; margin-left:30px;">
                <div class="display-container">
                    <div >
                        <div style=" height:60px; margin-top:30px; ">
                            <h1 style="font-size:28px; margin-top:0px; float:left;">친구</h1>
                            <button id="img_button" class="trigger" style="float:right;"><img src="/img/addFriends.png" alt="addFriends" height="33"></button>
                        </div>
                        <h4 style="color:gray;">내프로필</h4>

                        <a>
                            <% if(profileImg !=null) { %>
                                <button
                                    class="profileImg trigger1"
                                    style="background-color:white; border:none; cursor:pointer;"><img class="profileImg" src="<%= profileImg %>"/></button>
                            <% } else { %>
                                <img class="profileImg" src="/img/profileBasicImg.png"/>

                            <% } %>

                        </a>
                        <h4 style="display:flex; flex-direction: column; ">
                            <p class="profileFont"><%=memName %>
                                <% if(profileContent !=null) { %>
                                    <br>
                                    <span style="font-weight: normal; padding-top:5px;"><%=profileContent %>
                                    <% } %></span></p>
                        </h4>
                        <hr>
                        <h4 style="color:gray;">친구 110명</h4>
                        <div>
                            <% if(data != "") {%>
                                <% for(let i=0; i<data.length; i++){ %>
                                    <div >
                                        <a href="javascript:openWindowPop('/popup/popup.html', 'popup');">
                                            <% if(data[i].profileImg !=null) { %>
                                                <img class="profileImg" src="<%=data[i].profileImg%>"/>
                                            <% } else {%>
                                                <img class="profileImg" src="/img/profileBasicImg.png"/>
                                            <% } %>
                                        </a>
                                        <h4 style="display:flex; flex-direction: column; ">
                                            <p class="profileFont"><%=data[i].memName %>
                                                <% if(data[i].profileContent !=null) { %>
                                                    <br>
                                                    <span style="font-weight: normal; padding-top:5px;"><%=data[i].profileContent %>
                                                    <% } %></span></p>
                                        </h4>
                                    </div>
                                <% } %>
                            </div>
                        <% } else {%>
                            <h1>친구없어요</h1>
                        <% }%>

                    </div>

                    <!-- 팝업 될 레이어 / 친구 추가-->
                    <div class="modal">
                        <div class="modal-content" id="modal">
                            <span class="close-button">&times;</span>
                            <h2 class="title">친구추가</h2>
                            <!--<form action="/" method="POST">-->

                            <input
                                id="memIdInput"
                                type="text"
                                name="memId"
                                placeholder="아이디를 입력해주세요"
                                required="required"
                                style="width:343px; float:left;">
                            <label></label>

                            <button
                                onclick="searchFriends()"
                                id="searchFriends"
                                style="height:52px; margin-top:2px; margin-left:5px;">검색</button>
                            <table>
                                <tr class="searchResult" id="searchResult" style="height:120px;"></tr>
                            </table>
                            <input type="submit" id="submit" value="확인" style="float:right;">

                        </div>
                    </div>
                    <!-- 팝업 될 레이어 // 내프로필편집-->
                    <div class="modal1">
                        <div class="modal-content1" id="modal">
                            <span class="close-button1">&times;</span>
                            <h2 class="title"></h2>
                            <!--<form action="/" method="POST">-->

                            <label></label>

                            <div style="margin-top:110%; height:100px; text-align:center;">

                                <% if(profileImg !=null) { %>
                                    <button class="profileDetail_img trigger1"><img class="profileDetail_img" src="<%= profileImg %>"/></button>
                                <% } else { %>
                                    <img class="profileDetail_img" src="/img/profileBasicImg.png"/>

                                <% } %>

                                <p class="profileDetail_name"><%=memName %></p>
                                <hr
                                    style="width:100%; margin-top:50px;border:0.01em solid #eeeeee86; border-bottom: 0;">
                            </div>
                            <div style="margin-top:28%; margin-left:20%;">
                            <button class="profileImg" style="background-color:transparent; border:none; cursor:pointer;"><img style=" width:30px; height:30px;" src="/img/pen.png"/></button>
                           
                            </div>
                            <p>프로필편집</p>
                        </div>
                     
                    </div>
                    <script type="text/javascript">
                        var modal = document.querySelector(".modal");
                        var modal1 = document.querySelector(".modal1");
                        var trigger = document.querySelector(".trigger");
                        var trigger1 = document.querySelector(".trigger1");
                        var closeButton = document.querySelector(".close-button");
                        var closeButton1 = document.querySelector(".close-button1");

                        //console.log(modal);

                        function toggleModal() {
                            var searchResult = document.getElementById("searchResult");
                            while (searchResult.hasChildNodes()) {
                                searchResult.removeChild(searchResult.firstChild);
                            } //검색 회원 삭제
                            $('#memIdInput').val(''); //input 박스 입력 val 초기화
                            modal
                                .classList
                                .toggle("show-modal");
                        }

                        function toggleModal1() {
                            modal1
                                .classList
                                .toggle("show-modal");
                        }

                        function windowOnClick(event) {
                            if (event.target === modal) {
                                toggleModal();
                            }
                            if (event.target === modal1) {
                                toggleModal1();
                            }
                        }

                        trigger.addEventListener("click", toggleModal);
                        trigger1.addEventListener("click", toggleModal1);
                        closeButton.addEventListener("click", toggleModal);
                        closeButton1.addEventListener("click", toggleModal1);

                        window.addEventListener("click", windowOnClick);
                    </script>

                </div>
            </div>
        </div>
    </body>
</html>